body{
    width: 11 00px;
    height: 160px;
    margin: 0 ;
    background-image: url(./Bavk.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;

}
 
p55{
    text-align: center;
    margin-left: 450px;
    font-size: 30pt;
    color: white;
}

p56{
    text-align: center;
    margin-left: 450px;
    font-size: 60pt;
    color: white;
}

h1{
    position: absolute;  
    margin-top: 25px;
    color :aliceblue;

}

header101 {
    width: 1300px;
    height: 100px;
    background: #bb0038;
    display: flex;
   
}